@font-face {
    font-family: "Vazir Regular";
    src: url('/fonts/Vazir/Vazir-Regular-FD-WOL.ttf') format('truetype');
}

@font-face {
    font-family: "Vazir Black";
    src: url('/fonts/Vazir/Vazir-Black-FD-WOL.ttf') format('truetype');
}

@font-face {
    font-family: "Vazir Bold";
    src: url('/fonts/Vazir/Vazir-Bold-FD-WOL.ttf') format('truetype');
}

@font-face {
    font-family: "Vazir Light";
    src: url('/fonts/Vazir/Vazir-Light-FD-WOL.ttf') format('truetype');
}

@font-face {
    font-family: "Vazir Medium";
    src: url('/fonts/Vazir/Vazir-Medium-FD-WOL.ttf') format('truetype');
}

@font-face {
    font-family: "Vazir Thin";
    src: url('/fonts/Vazir/Vazir-Thin-FD-WOL.ttf') format('truetype');
}

@font-face {
    font-family: "Aquire";
    src: url('/fonts/Aquire/Aquire.otf') format('otf');
}

@font-face {
    font-family: "Aquire Light";
    src: url('/fonts/Aquire/AquireLight.otf') format('otf');
}

@font-face {
    font-family: "Aquire Bold";
    src: url('/fonts/Aquire/AquireBold.otf') format('otf');
}
